<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/locations/<%= location._id %>/edit" method="POST">

        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        
        <input type="text" name="name" id="name">
        <input type="text" name="type" id="type">
        
        ADD COORDINATES HERE

        <button type="submit">Save</button>
    </form>
</body>
</html>