

<div class="hero is-info is-bold is-large ">

    <div class="hero-head">
        <%- include('navbar') %> 
    </div>

    <div class="hero-body has-text-centered">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <div class="container ">
                    
                    <form action="">
                        <div class="field is-horizontal is-grouped">
                            <div class="control is-expanded">
                                <input class="input is-large is-rounded" type="text" placeholder="Buscar vacinas">
                            </div>

                            <div class="control">
                                <a class="button is-primary is-large ">
                                    Buscar
                                </a>
                            </div>

                        </div>
                    
                    </form>

                </div>

            </div>
        </div>
    </div>

    <div class="hero-foot">
        TESTETSTESTETSTESET
    </div>
</div>