

<div class="hero is-info is-bold is-large ">

    <div class="hero-head">
        <%- include('navbar') %> 
    </div>

    <div class="hero-body has-text-centered">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <div class="container ">
                    
                    <form action="/locations/searchvacgeo" method="GET">

                        

                        <div class="field is-horizontal is-grouped">
                            <div class="control is-expanded">
                                <input class="input is-large is-rounded" type="text" name="q" placeholder="Buscar vacinas em locais próximos a você">
                            </div>

                            <input type="hidden" name="latitude" id="latitude">
                            <input type="hidden" name="longitude" id="longitude">

                            <div class="control">
                                <button class="button is-primary is-large " type="submit">
                                    Buscar
                                </button>
                            </div>

                        </div>
                    
                    </form>

                </div>

            </div>
        </div>
    </div>

    <div class="hero-foot">
        TESTETSTESTETSTESET
    </div>
</div>

<script type="text/javascript" src="../js/location.js"></script>