<%- include('header') %> 

<main>

    <div class="hero is-medium">
        <div class="hero-body has-text-centered">
            <div class="container">
                <h1 class="title">
                    Hello World
                </h1>
                <p class="subtitle">
                    My first website with <strong>Bulma</strong>!
                </p>
                </div>

        </div>
    </div>

</main>

<%- include('footer') %> 