<%- include('../header') %> 
<main>
    <div class="hero is-medium">
        <div class="hero-body ">
            <div class="container">

                <div class="columns is-centered">
                    <div class="column is-half">
                        <form action="/vaccinations/create" method="POST">
                            
                            <div class="field">
                                <label for="name" class="label">Nome</label>
                                <div class="control">
                                    <input class="input is-primary" type="text" name="name" id="name">
                                </div>
                            </div>

                            <div class="field">
                                <label for="description" class="label">Descrição</label>
                                <div class="control">
                                    <input class="input is-primary" type="text" name="description" id="description">
                                </div>
                            </div>

                            <div class="field">
                                <label for="vaccode" class="label">Código</label>
                                <div class="control">
                                    <input  class="input is-primary" type="text" name="vaccode" id="vaccode">
                                </div>
                            </div>

                            <div class="field">
                                <label for="dosage" class="label">Dosagem</label>
                                <div class="control">
                                    <input class="input is-primary" type="number" name="dosage" id="dosage" step="0.01">
                                </div>
                            </div>

                            
                            <!--<input type="text" name="pathologies" id="type">-->
                            <div class="has-text-centered">
                                <button class="button is-primary" type="submit">Registrar</button>
                            </div>
                        </form>

                        </div>
                        </div>
</div>
</div>
</div>
</main>
<%- include('../footer') %> 