<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/vaccinations/<%= vaccination._id %>/edit" method="POST">
        
        <input type="text" name="name" id="name">
        <input type="text" name="description" id="description">
        <!--<input type="text" name="pathologies" id="type">-->
        <input type="text" name="vaccode" id="vaccode">
        <input type="text" name="dosage" id="dosage">

        <button type="submit">Save</button>
    </form>
</body>
</html>