<%- include('../header') %> 
<main>
    <div class="hero is-medium">
        <div class="hero-body has-text-centered">
            <div class="container">
    <form action="/vaccinations/<%= vaccination._id %>/edit" method="POST">
        
        <input type="text" name="name" id="name">
        <input type="text" name="description" id="description">
        <!--<input type="text" name="pathologies" id="type">-->
        <input type="text" name="vaccode" id="vaccode">
        <input type="text" name="dosage" id="dosage">

        <button class="button is-primary" type="submit">Save</button>
    </form>
</div>
</div>
</div>
</main>
<%- include('../footer') %> 