<%- include('../header') %> 

    <main>
        <div class="hero is-medium">
            <div class="hero-body">
                <div class="container">

                    <div class="columns is-centered">
                        <div class="column is-vcentered is-half">
                            <form action="/vaccinations/search" method="POST">

                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                
                                <div class="field">
                                    <label for="name" class="label">Busca</label>
                                    <div class="control">
                                        <input class="input is-rounded" type="text" name="q" id="search">
                                    </div>
                                </div>
                                
                                
                                <button class="button is-info is-outlined" type="submit">Search</button>
                            </form>

                        <% vaccinations.forEach(vaccination => { %>
                            <p> <%= vaccination.name %> </p>
                        <% }) %>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>

<%- include('../footer') %> 